
<div class="row">
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="~/pictures/error-401.png" alt="Alternative image" class="img-thumbnail">
                <div class="text-left h4">
                    <p>Oops, you don't have access here.</p>
                </div>

            </div>
        </div>
    </div>
</div>
