@{
    ViewData["Title"] = "Error";
}
<div class="row-cols-8">
    <img src="~/pictures/error.jpeg" alt="Alternative image" class="img-thumbnail col-10">
    <h2 class="text-danger text-center bg-dark col-10 p-2">An error occurred while processing your request.</h2>
</div>



