@model IEnumerable<PositionViewModel>
@{
    ViewBag.Title = "Delete position";
}


<div class="row col-md-4 offset-md-4">
    <h1>@ViewBag.Title</h1>
    <form method="post">
        <div class="mb-3">
            <label name="PositionId" class="form-label">Select position:</label>
            <select name="PositionId" class="form-control">
                @foreach (var position in Model)
                {
                    <option value="@position.Id">@position.Name</option>
                }
            </select>
        </div>
        <div>
            <button type="submit" class="w-100 btn btn-lg btn-danger mt-2">Delete</button>
        </div>
    </form>
</div>